// Colours

$white:#fff;
$black:#000;
$grey:#999;
$darkGrey:#333;

// Globals

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  @include box-sizing(border-box);
}

html{
	min-height:100%;
	height:100%;
}

body{
	min-height:100%;
	background:$white;
	@include selection($white, $darkGrey);
	p{
		color:$grey;
		font-size:14px;
		@include selection($white, $darkGrey);
	}
}

a{
	@include transition(.3s ease-in-out all);
	img{
		position:relative;
    display: block;
		@include transition(.3s ease-in-out all);
		@include backface-visibility(hidden);
	}
	&:hover{
		img{
			//@include opacity(.8);
		}
	}
}

.clear{
	clear:both;
}

.hidden{
	display:none;
}
